.cities-list {
  grid-area: lt;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 20px;
  margin-top: 40px;
}

@media (max-width: 980px) {
  .cities-list {
    justify-content: center;
  }
}
